.googlemaps {
    display: flex;
    justify-content: center;
    margin: 1.25rem;
}

.formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'lato';
}